.sq1-slideshow {
  padding: .75em 0;
  background-color: #333;
  overflow: hidden;
  position: relative;
}

.sq1-slideshow .sq1-slides {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 25% 0 0 50%;
  height: 0;
}

.sq1-slide {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  margin: 0 0 0 12.5%;
  padding: 0;
  cursor: pointer;
}

.sq1-slide.current {
  cursor: auto;
}

.sq1-slide:nth-child(2) {
  left: 77%;
}

.sq1-slide:last-child {
  left: -77%;
}

.sq1-slide:nth-last-child(2) {
  left: -154%;
}

.sq1-slide-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}

.sq1-slideshow.rounded .sq1-slide-image {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.sq1-slideshow.drop-shadow .sq1-slide-image {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.sq1-slideshow.inset-shadow .sq1-slide-image {
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
}

.sq1-slide-title {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0.5+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
  color: #fff;
  padding: .5em 1em;
  display: none;
}

.sq1-slideshow.rounded .sq1-slide-title {
  -webkit-border-bottom-right-radius: 1em;
  -webkit-border-bottom-left-radius: 1em;
  -moz-border-radius-bottomright: 1em;
  -moz-border-radius-bottomleft: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.sq1-slide.current:hover .sq1-slide-title {
  display: block;
}

.sq1-slideshow-controls {
  display: none;
}

@media (max-width: 960px) {

  .sq1-slideshow-controls {
    position: absolute;
    right: .25em;
    bottom: 1em;
    z-index: 1;
    display: block;
    opacity: .5;
  }

  .sq1-slideshow:hover .sq1-slideshow-controls {
    opacity: 1;
  }

  .sq1-slideshow-controls .previous,
  .sq1-slideshow-controls .next {
    float: left;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    width: 1.5em;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
  }

  .sq1-slideshow-controls .previous:before {
    content: "\25C1";
  }

  .sq1-slideshow-controls .previous:hover:before {
    content: "\25C0";
  }

  .sq1-slideshow-controls .next:before {
    content: "\25B7";
  }

  .sq1-slideshow-controls .next:hover:before {
    content: "\25BA";
  }

  .sq1-slideshow-controls .previous {
    -webkit-border-top-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .sq1-slideshow-controls .next {
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomright: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .sq1-slideshow .sq1-slides {
    padding-top: calc(100% / 3);
  }

  .sq1-slide {
    width: 100%;
    margin: 0;
  }
  
  .sq1-slideshow.rounded .sq1-slide-image,
  .sq1-slideshow.rounded .sq1-slide-title  {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

}